h1 {
    margin-bottom: 700px;
    margin-right: -300px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.container {
    width: 700px;
    padding: 16px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form {
    display: flex;
    flex-direction: column;
}

form input[type="text"],
form input[type="email"],
form input[type="number, text"],
form textarea,
form input[type="number"] {
    width: 680px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
}

form button {
    cursor: pointer;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

button[type="submit"]:hover {
    background-color: #45a049;
}